<a href="https://colab.research.google.com/github/Nico-GP/Star_Classification/blob/main/Star_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CODING DOJO**: Proyecto 2
## Creado por: Nicolas Gonzalez
### Descripcion: Clasificacion de Cuerpos Celestes
* Creado: 20/02/22
* Ultima Actualizacion: 20/02/22

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/CodingDojo/Project2/star_classification.csv')
df.head()

         obj_ID       alpha      delta  ...  plate    MJD  fiber_ID
0  1.237661e+18  135.689107  32.494632  ...   5812  56354       171
1  1.237665e+18  144.826101  31.274185  ...  10445  58158       427
2  1.237661e+18  142.188790  35.582444  ...   4576  55592       299
3  1.237663e+18  338.741038  -0.402828  ...   9149  58039       775
4  1.237680e+18  345.282593  21.183866  ...   6121  56187       842

[5 rows x 18 columns]

# Diccionario de variables

**obj_ID** = Object Identifier, the unique value that identifies the object in the image catalog used by the CAS

**alpha** = Right Ascension angle (at J2000 epoch)

**delta** = Declination angle (at J2000 epoch)

**u** = Ultraviolet filter in the photometric system

**g** = Green filter in the photometric system

**r** = Red filter in the photometric system

**i** = Near Infrared filter in the photometric system

**z** = Infrared filter in the photometric system

**run_ID** = Run Number used to identify the specific scan

**rereun_ID** = Rerun Number to specify how the image was processed

**cam_col** = Camera column to identify the scanline within the run

**field_ID** = Field number to identify each field

**spec_obj_ID** = Unique ID used for optical spectroscopic objects (this means that 2 different observations with the same spec_obj_ID must share the output class)

**class** = object class (galaxy, star or quasar object)

**redshift** = redshift value based on the increase in wavelength

**plate** = plate ID, identifies each plate in SDSS

**MJD** = Modified Julian Date, used to indicate when a given piece of SDSS data was taken

**fiber_ID** = fiber ID that identifies the fiber that pointed the light at the focal plane in each observation

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 18 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   obj_ID       100000 non-null  float64
 1   alpha        100000 non-null  float64
 2   delta        100000 non-null  float64
 3   u            100000 non-null  float64
 4   g            100000 non-null  float64
 5   r            100000 non-null  float64
 6   i            100000 non-null  float64
 7   z            100000 non-null  float64
 8   run_ID       100000 non-null  int64
 9   rerun_ID     100000 non-null  int64
 10  cam_col      100000 non-null  int64
 11  field_ID     100000 non-null  int64
 12  spec_obj_ID  100000 non-null  float64
 13  class        100000 non-null  object
 14  redshift     100000 non-null  float64
 15  plate        100000 non-null  int64
 16  MJD          100000 non-null  int64
 17  fiber_ID     100000 non-null  int64
dtypes: float64(10), int64(7), object(1)
memory usage: 13.7+ MB

In [ ]:
df.isnull().sum()

obj_ID         0
alpha          0
delta          0
u              0
g              0
r              0
i              0
z              0
run_ID         0
rerun_ID       0
cam_col        0
field_ID       0
spec_obj_ID    0
class          0
redshift       0
plate          0
MJD            0
fiber_ID       0
dtype: int64